<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/static/h-ui.admin/css/style.css" />
    <!--/meta 作为公共模版分离出去-->

    <title>添加分类 - H-ui.admin v3.0</title>
</head>
<body>
<article class="page-container">
    <div class="panel-body">
    <form action="" method="post" class="form form-horizontal responsive" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-5">
                <input type="text" class="input-text valid" value="{$row.cat_name}"  name="cat_name" datatype="*">
            </div>
            <div class="col-xs-2"> </div>
        </div>
        <div class="row cl">
            <label  class="form-label col-xs-3 col-sm-3">上级分类：</label>
            <div class="formControls  col-xs-5">
                <span class="select-box">
                <select class="select" size="1" name="parent_id">
                  <option value="0" selected>作为一级分类</option>
                  {foreach name="list"  item="v"}
                  <option <?php if($v['cat_id']==$row['cat_id']){echo 'disabled';}?>  {if condition="in_array($v['id'],$children)"} disabled  {/if}  value="{$v.cat_id}"{if condition="$row['parent_id'] eq $v['cat_id']"}selected {/if}>{:str_repeat('&nbsp',$v['level']).'|-'}{$v.cat_name}</option>
                  {/foreach}
                </select>
                </span>
            </div>
            <div class="col-xs-2"> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-5">
                <input type="text" class="input-text" value="{$row.sort}"  name="sort" datatype="n">
            </div>
            <div class="col-xs-2"> </div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input type="hidden" name="cat_id" value="{$row.cat_id}" />
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
    </div>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/validateform/Validform.min.js"></script>
<link  rel="stylesheet" href="__STATIC__/validateform/style.css">
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $("#form-member-add").Validform({
            tiptype:2,
            ajaxPost:true,   //使用ajax方式提交
            callback:function(data){
                if(data.status=="y"){
                    setTimeout(function(){
                        $.Hidemsg(); //公用方法关闭信息提示框;显示方法是$.Showmsg("message goes here.");
                        var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
                        parent.location.reload();
                        parent.layer.close(index); //执行关闭
                    },2000);
                }
            }
        });
    });


</script>
</body>
</html>